<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Community Connections</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet"
          href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
    <link rel="stylesheet"
          href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="../styles/home.css">
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script
            src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="../scripts/home.js"></script>
</head>
<body>

<div class="jumbotron text-center">
    <h1>Community Connections</h1>
    <p>Together to make things better</p>
</div>

<div class="container">
    <div class="row">
        <div id="googleMap" style="width:100%;height:400px;"></div>

        <script>
            function myMap() {

                var myLatLng = {lat: 40.7313629, lng: -74.01074099999999};

                var mapProp= {
                    center:new google.maps.LatLng(40.7313629,-74.00074099999999),
                    zoom:12,
                };
                var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);

                var marker = new google.maps.Marker({
                    position: myLatLng,
                    map: map,
                    title: 'complaints!'
                });
            }
        </script>

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJ4t2Td0P6-jUPKNZSt0-5TT6QQkk2CNY&callback=myMap"></script>

    </div>

	<div class="row">
		<br>
		<div class="col col-sm-6 col-md-6 col-lg-6 text-center">
		
			<a href="#complaintbutton" class="btn btn-default btn-lg btn-block" data-toggle="collapse">Make a Complaint</a>

			<div id="complaintbutton" class="main-container collapse">
				<form class="myRect1 row">
				  <div class="col-sm-1"> </div>
				  <div class="form-group col-sm-6">
					<h1 for="exampleInputEmail1">Complaint</h1>
					<input type="text" class="form-control" placeholder="Text input">

					<label for="exampleInputEmail1">Location</label>
					<input type="text" class="form-control" placeholder="Text input">

					<label for="exampleInputEmail1">Date</label>
					<input type="date" class="form-control" placeholder="Text input">
				  </div>

				  <div class="form-group col-sm-4">
				  <p><strong>Select your Category:</strong></p>
				  <label class="radio-inline">
					<input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Garbage
				</label>
				<label class="radio-inline">
				  <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Lights
				</label>
				<label class="radio-inline">
				  <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> Dog Poo
				</label>
				 <label class="radio-inline">
					<input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Safety
				</label>
				<label class="radio-inline">
				  <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Sanitation
				</label>
				<label class="radio-inline">
				  <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> Noise
				</label>
				<label class="radio-inline">
				  <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> Crime
				</label>
				<label class="radio-inline">
				  <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> Other
				</label>
				</div>


				  <button type="submit" class="btn btn-default">Submit</button>
				  <div class="col-sm-1"> </div>
				</form>
			</div>
			
		</div>



		<div class="col col-sm-6 col-md-6 col-lg-6 text-center">
		
			<a href="#suggestionbutton" class="btn btn-default btn-lg btn-block" data-toggle="collapse">Make a Suggestion</a>

			<div id="suggestionbutton" class="main-container collapse">
					 <form class="myRect2">
				  <div class="form-group">
					<h1 for="exampleInputEmail1">Suggestions</h1>
					<input type="text" class="form-control" placeholder="Text input">

					<label for="exampleInputEmail1">Location</label>
					<input type="text" class="form-control" placeholder="Text input">

					<label for="exampleInputEmail1">Date</label>
					<input type="date" class="form-control" placeholder="Text input">
				  </div>

				  <p><strong>Select your Category:</strong></p>
				  <label class="radio-inline">
					<input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Garbage
				</label>
				<label class="radio-inline">
				  <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Lights
				</label>
				<label class="radio-inline">
				  <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> Dog Poo
				</label>
				 <label class="radio-inline">
					<input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Safety
				</label>
				<label class="radio-inline">
				  <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Sanitation
				</label>
				<label class="radio-inline">
				  <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> Noise
				</label>
				<label class="radio-inline">
				  <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> Crime
				</label>
				<label class="radio-inline">
				  <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> Other
				</label>


				  <button type="submit" class="btn btn-default">Submit</button>
				</form>
				
			</div>
		   
		</div>
	</div>

	<div class="row">
		<br>
		<div class="col col-sm-6 col-md-6 col-lg-6 text-center">
			
			<a href="#whatsgoodbutton" class="btn btn-default btn-lg btn-block" data-toggle="collapse">Whats Good?</a>

			<div id="whatsgoodbutton" class="main-container collapse">
				<form class="myRect3">
			  <div class="form-group">
				<h1 for="exampleInputEmail1">What's Good</h1>
				<input type="text" class="form-control" placeholder="Text input">

				<label for="exampleInputEmail1">Location</label>
				<input type="text" class="form-control" placeholder="Text input">

				<label for="exampleInputEmail1">Date</label>
				<input type="date" class="form-control" placeholder="Text input">
			  </div>

			  <p><strong>Select your Category:</strong></p>
			  <label class="radio-inline">
				<input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Garbage
			</label>
			<label class="radio-inline">
			  <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Lights
			</label>
			<label class="radio-inline">
			  <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> Dog Poo
			</label>
			 <label class="radio-inline">
				<input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Safety
			</label>
			<label class="radio-inline">
			  <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Sanitation
			</label>
			<label class="radio-inline">
			  <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> Noise
			</label>
			<label class="radio-inline">
			  <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> Crime
			</label>
			<label class="radio-inline">
			  <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> Other
			</label>


			  <button type="submit" class="btn btn-default">Submit</button>
			</form>
			</div>
	  
		</div>
		
		<div class="col col-sm-6 col-md-6 col-lg-6 text-center">
			
			<a href="#button4" class="btn btn-default btn-lg btn-block" data-toggle="collapse">Button 4</a>

			<div id="button4" class="main-container collapse">
				<h1>Button 4 content</h1>
			</div>
	  
		</div>
	</div>


    <div class="row">
		<br>
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <div class="btn-toolbar vertical-center text-center">
                <button type="button" class="btn btn-info" id="list-complaint">List Complaint</button>
                <button type="button" class="btn btn-primary" id="add-complaint">Add Complaint</button>
            </div>
        </div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row">
        <div style="margin-top: 20px;"></div>
    </div>
    <div class="row">
        <div id="control_col" class="col-sm-2">
            <div>content</div>
            <div>
                <input type=text id="complaint_text" value=""/>
            </div>
            <br>
            <div>category</div>
            <div>
                <input type=text id="category_id" value=""/>
            </div>

        </div>
        <div id="customer_table_col" class="col-sm-5">
            <div class="row">
                <div style="margin-top: 20px;"></div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table id="customer_table" class="display" cellspacing="0"
                           width="100%">
                    </table>
                </div>
            </div>
        </div>
        <div id="lab_info_col" class="col-sm-5">
            <div class="row">
                <div style="margin-top: 20px;"></div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <table id="complaint_table" class="display" cellspacing="0" width="100%">
                    </table>
                </div>
            </div>
            <div class="row">
                <div style="margin-top: 20px;"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="row">
            <div style="margin-top: 20px;"></div>
        </div>

        <div class="alert alert-info fade in">
            <div id="returned_info"></div>
        </div>

    </div>
</div>
</body>
</html>